<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>requirejs example</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <div class="container">
            <h1>Requirejs Example</h1>
            <p><a href="http://requirejs.org" target="_balnk">requirejs.org</a></p>
            <div id="handlebars-example">
                <div class="template">
                    <h2>{{title}}</h2>
                    <p>{{description}}</p>
                </div>
            </div>
            <div class="footer"></div>
        </div>

        <!-- build:js assets/js/vendor.js -->
        <script src="bower_components/requirejs/require.js" type="text/javascript"></script>
        <!-- endbuild -->

        <!-- build:js assets/js/main.min.js -->
        <script src="assets/js/main.js"></script>
        <!-- endbuild -->
</body>
</html>
